<div></div>
<style>
  body{
    display:grid;
    background:#FEFAE0;  
  }
  div {
    width: 100px;
    height: 100px;
    background: #dd6b4d;
position:relative;
    top:92px;
    left:147px;
    background:#9CCCDB;

  }
div:before{
  content:"";
  display:block;
  height:50px;
  width:50px;
  background:#9CCCDB;
position:relative;
  top:25px;
  left:120px;
  box-shadow:-200px 2px #9CCCDB;
}
  div:after{
  content:"";
  display:block;
  height:50px;
  width:50px;
  background:#9CCCDB;
position:relative;
  top:-126px;
  left:23px;
  box-shadow:0px 200px #9CCCDB;
}
</style>